.large-value {
  font-family: System-Bold;
  font-size: 45;
  
  fill: #f80000;
}

.stepsCounter {
  fill: "#ccc000";
  font-family: System-Bold;
  font-size: 20;
  text-length: 3;
}

.timeDisplay {
  fill: "#000000";
  font-family: System-Bold;
  font-size: 45;
}

.dateDisplay {
  fill: "#ccc000";
  font-family: System-Bold;
  font-size: 30;
  text-length: 14;
}

.seconds {
  fill: "#ff0000";
}

/* #heartRate {
  x: 20%;
  y: 20%;
} */
